<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
    <table class="table" title="Rooms" >
        <thead>
        <tr>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.address}"></td>

            <td th:text="${room.city}"></td>

            <td th:text="${room.state}"></td>

            <td th:text="${room.price}"></td>
            <td>
                <a th:href="@{/detail/{id}(id=${room.id})}">Details</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>