<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<div th:if="${message1}" th:text="${message1}" th:class="${'alert ' + alertClass}"/>
<!--<div th:if="${message2}" th:text="${message2}" th:class="${'alert ' + alertClass}"/>-->
Address: <Span th:text="${room.address}"></Span><br />
City: <Span th:text="${room.city}"></Span><br />
State: <Span th:text="${room.state}"></Span><br />
Price: <Span th:text="${room.price}"></Span><br />
Description: <Span th:text="${room.description}"></Span><br />
Rules: <Span th:text="${room.rules}"></Span><br />
Wifi: <Span th:text="${room.wifi}"></Span><br />
Cable: <Span th:text="${room.cable}"></Span><br />
Private Bathroom: <Span th:text="${room.privateBathroom}"></Span><br />
Rented: <Span th:text="${room.rented}"></Span><br />
</body>
</html>